.product-info .name {
  font-size: 1.5em;
}

.product-info .description {
  font-size: 1em;
}

.product-info .price {
  font-size: 1.2em;
}

.product-info a {
  text-decoration: none;
  color: #000;
}

.product-info a :hover {
  background-color: #fffacd;
}

.input-description {
  width: 100%;
}

.btn {
  margin: 5px 0;
}

.contents {
    width: 100%;
    border: solid 1px #000000;
    margin: 5px 0px;
    padding: 5px;
    box-sizing: border-box;
}

.contents-inside {
  margin: 0;
}
